.admin-page {
  padding: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.admin-page h1 {
  color: #333;
  margin-bottom: 20px;
}

.admin-page ul {
  list-style-type: none;
  padding: 0;
}

.admin-page li {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-page li:hover {
  background-color: #ddd;
}

.home-page {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}
.home-mini{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.home-page h1 {
  color: #333;
  margin-bottom: 20px;
}

.home-page button.button1{
  background-color: #8675c1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.home-page button.button2 {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.home-page button:hover {
  background-color: #45a049;
}
.home-page h2,
.home-page h3,
.home-page button {
  margin-bottom: 10px;
}


.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.sign-in-page h1 {
  color: #333;
  margin-bottom: 20px;
}

.sign-in-page form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Adjust width to control form size */
}

.sign-in-page input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #ccc; /* Fixed border size */
  box-sizing: border-box; /* Include border and padding in width */
  width: 100%; /* Make input full-width within container */
  transition: border-color 0.3s ease; /* Smooth border color change */
}

.sign-in-page input.error {
  border-color: red; /* Error border color */
}

.sign-in-page button {
  background-color: #8675c1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-page button:hover {
  background-color: #b3abd1;
}

.sign-in-page p {
  color: red;
  margin-top: -10px; /* Adjust margin to position error messages */
}


.navbar {
  background-color: #d5e0ea;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.sign-up-page form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Limiting width for better control */
}

.sign-up-page input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #ccc; /* Fixed border size */
  box-sizing: border-box; /* Include border and padding in width */
  width: 100%; /* Make input full-width within container */
  transition: border-color 0.3s ease; /* Smooth border color change */
}

.sign-up-page input.error {
  border-color: red; /* Error border color */
}

.sign-up-page button {
  background-color: #8675c1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-page button:hover {
  background-color: #b3abd1;
}

.sign-up-page p {
  color: red;
  margin-top: -10px;
}
